In [8]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston

In [9]:
dataset = load_boston()

df = pd.DataFrame(dataset.data, columns=dataset.feature_names)

In [10]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
df['target'] = dataset.target

data = df.copy()

In [12]:
X = data.drop('target',axis=1)
y = data['target'].to_frame()

In [13]:
X['unit'] = np.ones(506)
X_t = np.transpose(X)
k = np.matmul(X_t,X)
h = np.matmul(np.linalg.inv(k),np.matmul(X_t,y))

In [15]:
X_test = [0.085,13.0, 10.5, 1.0, 0.8, 4.78, 39.0, 5.5, 5.5, 331.0, 13.3,  390.5, 17.71,1]
Y_pred = np.matmul(X,h)
cost_function = (Y_pred-y)*(Y_pred-y)/(2*506)
print "Mean squared Cost/Error sum is ", np.sum(cost_function)
pred = np.matmul(X_test,h)
print "Predictd House price ", pred[0]

Mean squared Cost/Error sum is  target    10.94889
dtype: float64
Predictd House price  15.1362393645